{% extends 'base.html.twig' %}

{% block title %}Новая запись{% endblock %}

{% block body %}
<div class="container p-2">
	<div class="row align-items-center mx-0 my-3" aria-label="breadcrumb">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb p-2 m-0">
				<li class="breadcrumb-item">
					<a href="/exec-cabinet">Кабинет исполнителя</a> 
				</li>
				<li class="breadcrumb-item">
					<a href="/exec-cabinet/{{project.id}}">{{project.user.name}}: {{project.projectTitle}}</a> 
				</li>
				<li class="breadcrumb-item">
					<a href="/exec-cabinet/{{project.id}}/{{stage.id}}">{{stage.stageTitle}}</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					Новая запись
				</li>
			</ol>
		</nav>
	</div>
</div>

<div class="row justify-content-center">
    <div class="col-lg-6 m-3">
    	<div class="card bg-light">
    		<div class="card-body">
    			<h1 class="text-center">Добавить новый комментарий и изображения</h1>

				{{ form_start(renewalForm) }}
				    {{ form_row(renewalForm.commentExec) }}
				    {{ form_row(renewalForm.sketches) }}
				    {{ form_row(renewalForm.save) }}
				{{ form_end(renewalForm) }}
				    
			</div>
		</div>
	</div>
</div>


{% endblock %}
