<!DOCTYPE html>
<html lang="ru">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        {# Сборки app.js, app.scss + бутстрап #}
        {{ encore_entry_link_tags('scripts') }}
        {{ encore_entry_link_tags('styles') }}
        
        
        <title>{% block title %}Главная{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
        
        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    		<div class="container">
    			<a class="navbar-brand" href="/">SterhArt</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggler" aria-controls="navToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navToggler">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                			<a class="nav-link" href="/portfolio">Портфолио</a>
                        </li>
                        <li class="nav-item">
    			             <a class="nav-link" href="/contacts">Контакты</a>
                        </li>

            			{% if is_granted ('ROLE_ADMIN') %}
                        <li class="nav-item">
            				<a class="nav-link" href="/exec-cabinet">Кабинет исполнителя</a>
                        </li>
                        <li class="nav-item">
            				<a class="nav-link" href="/logout">Выйти</a>
                        </li>

                		{% elseif is_granted ('ROLE_USER') %}
                        <li class="nav-item">
                			<a class="nav-link" href="/client-cabinet/{{user.id}}">Кабинет заказчика</a>
                        </li>
                        <li class="nav-item">
                			<a class="nav-link" href="/logout">Выйти</a>
                        </li>

                		{% else %}
                        <li class="nav-item">
            				<a class="nav-link" href="/login">Войти</a>
                        </li>
                		{% endif %}
                    </ul>
                </div>
    		</div>
    	</nav>

        <div class="container mt-5 pt-3">
        {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    
    {# Сборка app.js + бутстрап #}
    {{ encore_entry_script_tags('scripts') }}
    
    {# jQuery #}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    {# Popper #}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    </body>
</html>
