{% extends 'base.html.twig' %}

{% block title %}Добавить комментарий{% endblock %}

{% block body %}
<div class="container p-2">
	<div class="row align-items-center mx-0 my-3" aria-label="breadcrumb">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb p-2 m-0">
				<li class="breadcrumb-item">
		                <a href="/client-cabinet/{{user.id}}">Кабинет заказчика: {{user.name}}</a> 
		        </li>
				<li class="breadcrumb-item">
		                <a href="/client-cabinet/{{user.id}}/{{project.id}}">{{project.projectTitle}}</a> 
		        </li>
				<li class="breadcrumb-item">
		                <a href="/client-cabinet/{{user.id}}/{{project.id}}/{{stage.id}}">{{stage.stageTitle}}</a>
		        </li>
				<li class="breadcrumb-item active" aria-current="page">
					Добавить комментарий
				</li>
			</ol>
		</nav>
	</div>
</div>

<div>
	<form action="/client-cabinet/{{user.id}}/{{project.id}}/{{stage.id}}/{{renewal.id}}/addComment" method="POST">
		<div class="form-group">
			<label for="commentClient" class="col-form-label-lg">Комментарий заказчика</label>
			<textarea name="commentClient" id="commentClient" placeholder="Введите общий комментарий" class="form-control" rows="5"></textarea>

			<div class="fieldsForConcepts">

				<div class="form-group row m-0">
		    		<input type="file" class="form-control-file col-sm-3 col-form-label col-form-label-sm p-0" name="concept1">
					<textarea name="concept_comment1" placeholder="Комментарий к картинке" class="form-control col-sm-9" rows="1"></textarea>
				</div>

				<div class="form-group row m-0">
		    		<input type="file" class="form-control-file col-sm-3 col-form-label col-form-label-sm p-0" name="concept2">
					<textarea name="concept_comment2" placeholder="Комментарий к картинке" class="form-control col-sm-9" rows="1"></textarea>
				</div>

				<div class="form-group row m-0">
		    		<input type="file" class="form-control-file col-sm-3 col-form-label col-form-label-sm p-0" name="concept3">
					<textarea name="concept_comment3" placeholder="Комментарий к картинке" class="form-control col-sm-9" rows="1"></textarea>
				</div>

				<div class="flex justify-content-end">
					<button class="buttonToOpen btn btn-primary" type="button" value=4>Добавить больше картинок</button>				
				</div>
			</div>
		</div>
			
		<button type="reset" class="btn btn-warning mb-2">Очистить форму</button>
		<button type="submit" class="btn btn-primary mb-2">Отправить</button>
	</form>
</div>

{% endblock %}
