{% extends 'base.html.twig' %}

{% block title %}Добавить комментарий{% endblock %}

{% block body %}
<div class="container p-2">
	<div class="row align-items-center mx-0 my-3" aria-label="breadcrumb">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb p-2 m-0">
				<li class="breadcrumb-item">
		                <a href="/client-cabinet/{{user.id}}">Кабинет заказчика: {{user.name}}</a> 
		        </li>
				<li class="breadcrumb-item">
		                <a href="/client-cabinet/{{user.id}}/{{project.id}}">{{project.projectTitle}}</a> 
		        </li>
				<li class="breadcrumb-item">
		                <a href="/client-cabinet/{{user.id}}/{{project.id}}/{{stage.id}}">{{stage.stageTitle}}</a>
		        </li>
				<li class="breadcrumb-item active" aria-current="page">
					Добавить комментарий
				</li>
			</ol>
		</nav>
	</div>
</div>

<div>
	<form action="/client-cabinet/{{user.id}}/{{project.id}}/{{stage.id}}/{{renewal.id}}/addComment" method="POST" name="comment_client_form" enctype="multipart/form-data">
		<div class="form-group">
			<label for="commentClient" class="col-form-label-lg">Комментарий заказчика</label>
			<textarea name="commentClient" id="commentClient" placeholder="Введите общий комментарий" class="form-control mb-3" rows="5"></textarea>

			<div class="fieldsForConcepts">

				<div class="form-group form-row custom-file m-0">
		    		<input type="file" class="form-control-file col-2 p-0 custom-file-input" name="concept1" id="concept1">
		    		<label class="custom-file-label col-form-label col-2" for="concept1" data-browse="Выбрать"></label>
					<textarea name="concept_annotation1" placeholder="Комментарий к картинке" class="form-control col-7" rows="2"></textarea>
				</div>

				<div class="flex justify-content-end">
					<button class="buttonToOpen btn btn-primary" type="button" value=2>Добавить больше картинок</button>				
				</div>
			</div>
		</div>
			
		<button type="reset" class="btn btn-warning mb-2">Очистить форму</button>
		<button type="submit" class="btn btn-primary mb-2">Отправить</button>
	</form>
</div>

{% endblock %}
