{% extends 'base.html.twig' %}

{% block title %}{{project.projectTitle}}{% endblock %}


{% block body %}

<div class="container p-2">
    <div class="row align-items-center mx-0 my-3" aria-label="breadcrumb">
        <div class="col-sm-9 p-0">
            <nav>
                <ol class="breadcrumb p-2 m-0">
                    <li class="breadcrumb-item">
                        <a href="/client-cabinet/{{user.id}}">Кабинет заказчика: {{user.name}}</a> 
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/client-cabinet/{{user.id}}/{{project.id}}">{{project.projectTitle}}</a> 
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        {{stage.stageTitle}}
                    </li>
                </ol>
            </nav>
        </div>
    </div>
	       
	<div class="text-secondary">
        <em>Статус стадии: 
            <span class="font-weight-bold
        {% if stage.status == 'согласовано' %}
            text-success
        {% elseif stage.status == 'в работе'%}
            text-info
        {% else %}
            text-secondary
        {% endif %}
            ">{{stage.status}}</span></em>
    </div>
</div>

{% for renewal in renewals %}
<div class="container card">
    <div class="row align-items-center">
        <div class="card-body">
        	<h5 class="card-title">Обновление от {{renewal.created|date('d-m-Y')}}</h5>
                    
            <dl class="row card-text">
            	<dt class="col-sm-4">Комментарий исполнителя:</dt>
                <dd class="col-sm-8">{{renewal.commentExec}}</dd>
            	<dt class="col-sm-4">Комментарий заказчика:</dt>
                <dd class="col-sm-8">{{renewal.commentClient}}</dd>
            </dl>
            
            <div class="row">
            {% if renewal.sketches %}
                {% for sketch in renewal.sketches %}
                <div class="col-lg-2 col-md-3 col-6">
                    <a data-fancybox="gallery" href="{{ asset('images/sketches/') ~ sketch.name }}" data-caption="Caption #{{ loop.index0 }}">
                        <img class="img-fluid" src="{{ asset('images/sketches/') ~ sketch.name }}" alt="oops!">
                    </a>
                </div>
                {% endfor %}
            {% endif %} 
            </div>


            <div class="container p-0 mt-5">
                <div class="row align-items-end p-0 mt-5">

                    {% if renewal.commentClient is null %}
                    <div class="col-6 d-flex justify-content-end">
                        <a href="/client-cabinet/{{user.id}}/{{project.id}}/{{stage.id}}/{{renewal.id}}/addComment" role="button" class="btn btn-info w-100 w-md-auto">Написать комментарий</a>
                    </div>
                    {% else %}
                    <div class="col-6 d-flex justify-content-end">
                        <a href="/client-cabinet/{{user.id}}/{{project.id}}/{{stage.id}}/{{renewal.id}}/addComment" role="button" class="btn btn-secondary w-100 w-md-auto">Редактировать комментарий</a>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}
