{% extends 'base.html.twig' %}

{% block title %}Добавить проект{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="/portfolio">Портфолио</a> 
		</li>
		<li class="breadcrumb-item active" aria-current="page">
			Добавить проект
		</li>
	</ol>
</nav>

<div class="row justify-content-center">
    <div class="col-lg-6 m-3">
    	<div class="card bg-light">
    		<div class="card-body">
    			<h1 class="text-center">Добавить проект в портфолио</h1>

				{{ form_start(portfolioForm) }}
				    {{ form_row(portfolioForm.projectTitle) }}
				    {{ form_row(portfolioForm.city) }}
				    {{ form_row(portfolioForm.description) }}
				    {{ form_row(portfolioForm.photos) }}
				    {{ form_row(portfolioForm.save) }}
				{{ form_end(portfolioForm) }}
				    
			</div>
		</div>
	</div>
</div>
{% endblock %}


